<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Money Minx</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

    @media (min-width: 768px) {
      .header {
        padding-top: 50px !important;
        padding-bottom: 37px !important;
      }
      .card {
        padding: 64px !important;
      }
    }
  </style>
</head>
<body style="
      font-family: 'Mulish', sans-serif, Roboto;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      color: #000000;
      line-height: 150%;
      background: #FAFBFD;
">

<div class="header" style="
     padding-top: 30px;
     padding-bottom: 30px;">
  <a href="https://www.moneyminx.com" target="_blank">
    <img style="width: 200px;" alt="Money Minx Logo"
         src="http://cdn.mcauto-images-production.sendgrid.net/6a5998a60b8f24e4/19f99b8d-f061-40a4-8cfe-3d773c60b7da/330x105.png"
    >
  </a>
</div>

<div class="card" style="
     background: #FFFFFF;
     box-shadow: 0 2px 8px #E2E8F3, inset 0 -1px 0 #EBECF1;
     box-sizing: border-box;
     border-radius: 6px;
     padding: 20px;
     display: inline-block;
     max-width: 592px;
     letter-spacing: 0.12px;
     color: #697588;
     overflow-wrap: break-word;
     width: 100%;
">
  <div style="
     font-weight: bold;
     font-size: 20px;
     line-height: 120%;
     letter-spacing: 0.24px;
     color: #000000;
     display: inline-block;
">
    Welcome to Money Minx! 🎉
  </div>

  <div class="card-content" style="
     margin-top: 24px;
     margin-bottom: 24px;
     text-align: left;
">
    <p>
      Your account is ready. You are all set to magically track your investments, banks, cards and cryptocurrency portfolio.
    </p>

    <p>
      Get started by connecting all your accounts, wallets and exchanges:
    </p>
  </div>

  <a href="https://www.moneyminx.com/connect-account" title="Money Minx Dashboard" style="
font-weight: bold;
font-size: 16px;
line-height: 20px;
align-items: center;
letter-spacing: 0.4px;
color: #FFFFFF;
flex: none;
order: 0;
align-self: center;
background: #534CEA;
border-radius: 4px;
display: inline-block;
padding: 18px 32px;
text-decoration:none;
">
    Connect accounts & wallets
  </a>

  <div class="card-content" style="
     color: #697588;
     margin-top: 26px;
     text-align: left;
">
    Thanks,
    <div style="color: #000000;">The Money Team</div>
  </div>
</div>

<div
  style="
  margin-top: 24px;
  margin-bottom: 24px;
">
  <div>
    <a href="https://twitter.com/moneyminxapp"
       target="_blank"
       rel="noopener noreferrer"
       style="text-decoration: none;">
      <img alt="Money Minx on Twitter"
           style="width: 28px; height: 28px; margin: 0 8px;"
           src="http://cdn.mcauto-images-production.sendgrid.net/6a5998a60b8f24e4/7c11ed82-95c9-452f-82e4-e21855cc5b1b/112x112.png">
    </a>
    <a href="https://facebook.com/moneyminx"
       target="_blank"
       rel="noopener noreferrer"
       style="text-decoration: none;">
      <img alt="Money Minx on Facebook"
           style="width: 28px; height: 28px; margin: 0 8px;"
           src="http://cdn.mcauto-images-production.sendgrid.net/6a5998a60b8f24e4/884dda3c-2323-4f8d-9353-5cebd7c2b296/128x128.png">
    </a>
  </div>
</div>

<div
  style="
  margin-top: 24px;
  margin-bottom: 24px;
">
  <div>
    <div style="
     font-size: 14px;
     letter-spacing: 0.42px;
     color: #697588;
     margin-top: 24px;
">
      <p>
        Coming soon on:
      </p>
    </div>

    <a href="https://www.moneyminx.com?utm_source=welcome-email&utm_medium=email&utm_campaign=ios-link"
       target="_blank"
       rel="noopener noreferrer"
       style="text-decoration: none;">
      <img alt="Coming Soon on iOS"
           style="height: 40px; width: 120px; margin: 8px;"
           src="http://cdn.mcauto-images-production.sendgrid.net/6a5998a60b8f24e4/975ae7f4-1a03-4aad-8cb1-6e52b8ced864/480x160.png">
    </a>
    <a href="https://www.moneyminx.com?utm_source=welcome-email&utm_medium=email&utm_campaign=android-link"
       target="_blank"
       rel="noopener noreferrer"
       style="text-decoration: none;">
      <img alt="Coming Soon on Android"
           style="height: 40px; width: 135px; margin: 8px;"
           src="http://cdn.mcauto-images-production.sendgrid.net/6a5998a60b8f24e4/70e073a9-2908-402d-8d6a-072db2921ba4/540x160.png">
    </a>
  </div>
</div>

<div style="
     font-size: 14px;
     letter-spacing: 0.42px;
     color: #697588;
     margin-top: 24px;
">
  <p>
    Money Minx<br>
    101 Front Street, San Diego, CA 92101, USA
  </p>
</div>
<div data-role="module-unsubscribe" class="module" role="module" data-type="unsubscribe" style="color:#969eac; font-size:12px; line-height:20px; padding:16px 16px 16px 16px; text-align:Center;" data-muid="4e838cf3-9892-4a6d-94d6-170e474d21e5">

  <p style="font-size:12px; line-height:20px;">
    <a class="Unsubscribe--unsubscribeLink" href="{{{unsubscribe}}}" target="_blank" style="text-decoration:none;">
      Unsubscribe
    </a>
    -
    <a href="{{{unsubscribe_preferences}}}" target="_blank" class="Unsubscribe--unsubscribePreferences" style="text-decoration:none;">
      Unsubscribe Preferences
    </a>
  </p>
</div>
</body>
</html>
