.mm-account {
  padding: 2.063rem 1.125rem;
  background: $lightBg;

  @media (min-width: $md) {
    padding: 1.25rem 1.125rem 2.063rem 1.125rem;
  }

  #mm-account-holding:checked ~ .mm-radio-bg {
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
  }

  #mm-account-activity:checked ~ .mm-radio-bg {
    transform: translateX(138px);
    transition: transform 0.2s ease-in-out;
  }

  #mm-account-holding:checked + label,
  #mm-account-activity:checked + label {
    color: $primary;
  }

  &__selection {
    &--info {
      background: $darkBlueOpacity03;
      border: 1px solid $grayOpacity24;
      box-sizing: border-box;
      border-radius: 4px;
      overflow-y: auto;
      white-space: nowrap;

      ul {
        display: flex;
        margin: 0;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
      }

      li {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        border-right: 1px solid $grayOpacity20;
        font-size: 0.875rem;
        font-weight: 500;
        color: $darkGray;
      }
    }

    &--type {
      span {
        font-weight: 600;
        font-size: 1.125rem;
        color: $blue;
      }
    }

    #dropdown-year,
    #dropdown-month {
      height: 3rem;
    }
  }

  &__btn {
    width: 100%;
    height: 3rem;

    @media (min-width: $md) {
      width: 10rem;
    }
  }

  table {
    width: 100%;
  }

  .mm-account-table {
    width: 100%;
    background: $white;
    box-shadow: 0px 2px 8px $whiteFadeShadow, inset 0px -1px 0px $whiteFadeInsetShadow;
    border-radius: 6px;
    padding: 1.875rem 1.875rem 0 1.875rem;

    &__head {
      font-weight: 600;
      font-size: 1rem;
      color: $gray;

      &--data {
        padding-bottom: 1.563rem;
        display: none;
      }
    }

    &__body {
      font-weight: 500;
      font-size: 0.875rem;
      color: $darkGray;

      &--data {
        padding-top: 1rem;
        padding-bottom: 1rem;

        &:nth-child(10) {
          background: linear-gradient(90deg, $purpleOpacity04 0%, $purpleOpacity00 100%);
        }
      }

      &--wrapper {
        border-bottom: 1px solid $grayOpacity20;

        &:last-child {
          border-bottom: unset;
        }

        span {
          font-weight: 500;
          font-size: 0.75rem;
          color: $gray;
        }
      }

      &--sm-title {
        font-weight: 500;
        font-size: 1rem;
        color: $black;
      }
    }
  }

  .mm-account-activity-block {
    p {
      font-weight: 500;
      font-size: 0.875rem;
      color: $gray;
    }

    .mm-activity-table {
      width: 100%;
      background: $white;
      box-shadow: 0px 2px 8px $whiteFadeShadow, inset 0px -1px 0px $whiteFadeInsetShadow;
      border-radius: 6px;
      padding: 1.875rem 1.875rem 0 1.875rem;

      &__head {
        font-weight: 600;
        font-size: 1rem;
        color: $gray;

        &--data {
          padding-bottom: 1.563rem;
          display: none;

          &:last-child {
            text-align: right;
          }
        }
      }

      &__body {
        font-weight: 500;
        font-size: 0.875rem;
        color: $darkGray;

        &--data {
          padding-top: 1rem;
          padding-bottom: 1rem;

          &:last-child {
            display: none;
            text-align: right;

            @media (min-width: $md) {
              display: block;
            }
          }
        }

        &--data-edited {
          opacity: 0.2;
        }

        &--wrapper {
          border-bottom: 1px solid rgba($gray, 0.2);

          &:nth-child(-n+3) {
            background: linear-gradient(90deg, rgba($purple, 0.04) 50%, rgba($purple, 0.04) 100%);
          }

          &:last-child {
            border-bottom: unset;
          }

          span {
            font-weight: 500;
            font-size: 0.75rem;
            color: $gray;
          }
        }

        &--sm-title {
          font-weight: 500;
          font-size: 1rem;
          color: $black;
        }
      }
    }
  }

  .mm-add-activity-modal {
    background: $darkBg;
    box-shadow: 0px 4px 28px rgba($darkBg, 0.44);
    border-radius: 6px;
    color: $white;
    padding: 1.25rem 1.25rem;

    p {
      font-weight: 500;
      font-size: 0.875rem;
      min-width: 6.25rem;
      margin-bottom: 0;
    }

    &__btn {
      height: 3rem;
    }

    &__text {
      height: 3rem;
    }

    &__checkmark {
      border: 1px solid $lightBg;

      &--label {
        margin-left: 1.875rem;
      }
    }

    select {
      height: 3rem;
    }
  }
}
.settings-gear-button {
  border: 1px solid $purple;
  border-radius: 4px;
  padding: 12px;
  height: 48px;
  width: 48px;

  &:hover {
    background-color: $purple;
    color: $white;
    stroke: $white;

    .gear-color {
      stroke: $white;
    }
  }
}
