.app-subheader-container.account {

  .providerLogo {
    height: 40px;
    position: absolute;
    left: 43%;

    @media(max-width: $desk) {
      left: 36%;
    }
  }

  > span {
    font-weight: bold;
  }

  .base-currency-toggle {
    position: absolute;
    right: 1rem;
  }
}

.s-providerLogo {
  height: 48px;
}

.mm-account {
  padding: 0.25rem 1.125rem;
  background: $lightBg;

  @media (min-width: $md) {
    padding: 0 1.125rem 2.063rem 1.125rem;
  }

  .account-ct-box {
    background: $white;
    box-shadow: 0 2px 8px $whiteFadeShadow, inset 0px -1px 0px $whiteInsetShadow;
    border-radius: 6px;
    padding: 20px;
    height: 100%;
    position: relative;
  }

  .account-responsive-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 306px;
  
    &>div {
      min-height: 306px;
    }
  
    .bar-tooltip {
      background-color: $darkBg;
      color: $white;
      box-shadow: 0px 4px 28px rgba($darkBg, 0.44);
      border-radius: 4px;
      padding: 20px 12px;
    
      .item-name {
        font-size: 0.875rem;
        line-height: 16px;
      }
    
      .item-value {
        font-family: "Mulish";
        font-style: normal;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 30px; 
      }
    }
  }

  #mm-account-holding:checked ~ .mm-radio-bg {
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
  }

  #mm-account-activity:checked ~ .mm-radio-bg {
    transform: translateX(138px);
    transition: transform 0.2s ease-in-out;
  }

  #mm-account-holding:checked + label,
  #mm-account-activity:checked + label {
    color: $primary;
  }

  &__selection {

    @media(max-width: 1350px) {
      display: flex;
      flex-direction: column;
    }

    .d-md-flex .d-flex {
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
  
        @media(max-width: 480px) {
          flex-direction: column;
        }
    }

    &--info {

      @media(min-width: 992px) {
        margin-right: 0.5rem
      }

      ul {
        background: $darkBlueOpacity03;
        border: 1px solid $grayOpacity24;
        box-sizing: border-box;
        border-radius: 4px;
        overflow-y: auto;
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0.75rem 0.25rem 0.75rem 0.25rem;
        min-height: 48px;
        max-width: 864px;
      }

      li {
        border-right: 1px solid $grayOpacity20;
        font-size: 0.875rem;
        font-weight: 500;
        color: $darkGray;
        text-align: center;
        width: 100%;
        margin: auto;
        padding-left: 32px;
        padding-right: 32px;

        &:last-child {
          border-right: none;
        }
      }
    }

    &--type {
      white-space: nowrap;

      @media(max-width: 480px) {
        text-align: right;
      }

      span {
        font-weight: 600;
        font-size: 1.125rem;
        color: $blue;
        display: inline !important;

        &.manual {
          color: $blue;
        }
        
        &.good {
          color: $green;
        }

        &.needsInfo {
          color: $yellow;
        }

        &.attention {
          color: $redAlert;
        }
      }

      .attention-section {
        position: relative;

        .popup {
          width: 208px;
          padding: 1.25rem;
          background: $darkBg;
          box-shadow: 0 4px 28px $darkBgOpacity44, inset 0 1px 0 $redAlertOpacity50;
          border-radius: 6px;
          position: absolute;
          top: 40px;
          right: 0;
          z-index: 1000;
          display: flex;
          flex-direction: column;

          span:first-child {
            text-align: left;
            font-weight: 600;
            font-size: 0.875rem;
            line-height: 18px;
            letter-spacing: 0.02em;
            color: $white;
          }

          span:nth-child(2) {
            text-align: left;
            font-weight: 300;
            font-size: 10px;
            line-height: 13px;
            letter-spacing: 0.02em;
            color: #969EAC;
            border-bottom: 1px solid $grayOpacity24;
          }

          span:nth-child(3) {
            white-space: break-spaces;
            text-align: left;
            font-weight: normal;
            font-size: 0.75rem;
            line-height: 15px;
            letter-spacing: 0.02em;
            color: $white;
          }

          button {
            width: 100%;

            &:hover {
              box-shadow: none;
            }
          }

        }
      }
    }

    #dropdown-year,
    #dropdown-month {
      height: 3rem;
    }
  }

  &__btn {
    width: 100%;
    height: 3rem;

    @media (min-width: $md) {
      width: 10rem;
    }
  }

  table {
    width: 100%;
  }

  .mm-account-activity-block {
    p {
      font-weight: 500;
      font-size: 0.875rem;
      color: $grayText;
    }

    .mm-activity-table {
      width: 100%;
      background: $white;
      box-shadow: 0px 2px 8px $whiteFadeShadow, inset 0px -1px 0px $whiteInsetShadow;
      border-radius: 6px;
      padding: 2rem 1.25rem;

      &__head {
        font-weight: 600;
        font-size: 1rem;
        color: $gray;

        &--data {
          padding-bottom: 1.563rem;
          display: none;

          &:first-child {
            padding-left: 1.25rem;
          }

          &:last-child {
            text-align: right;
            padding-right: 1.25rem;
          }
        }
      }

      &__body {
        font-weight: 500;
        font-size: 0.875rem;
        color: $darkGray;

        &--data {
          padding-top: 1rem;
          padding-bottom: 1.25rem;

          &:first-child {
            padding-left: 1.25rem;
          }

          @media(max-width: $md) {
            &:nth-child(5){
              padding-left: 1.25rem;
            }
          }

          &:last-child {
            display: none;
            text-align: right;
            padding-right: 1rem;

            @media (min-width: $md) {
              display: block;
            }
          }
        }

        &--data-edited {
          opacity: 0.2;
        }

        &--wrapper {
          border-bottom: 1px solid rgba($gray, 0.2);

          &:hover {
            background: $darkBg;
            color: $white;
            border-radius: 6px;
            cursor: pointer;
          }

          &:last-child {
            border-bottom: unset;
          }

          span {
            font-weight: 500;
            font-size: 0.75rem;
            color: $gray;
          }
        }

        &--sm-title {
          font-weight: 500;
          font-size: 1rem;
          color: $black;
        }
      }
    }
  }

  .no-data {
    margin-left: calc(50% - 62.21px);
  }

  .mm-add-activity-modal {
    background: $darkBg;
    box-shadow: 0px 4px 28px rgba($darkBg, 0.44);
    border-radius: 6px;
    color: $white;
    padding: 1.25rem 1.25rem;
    margin-top: 2.063rem;

    p {
      font-weight: 500;
      font-size: 0.875rem;
      min-width: 6.25rem;
      margin-bottom: 0;
    }

    &__btn {
      height: 3rem;
    }

    &__text {
      height: 3rem;
    }

    &__checkmark {
      border: 1px solid $lightBg;

      &--label {
        margin-left: 1.875rem;
      }
    }

    select {
      height: 3rem;
    }
  }
}

.settings-gear-button {
  border: 1px solid $purple;
  border-radius: 4px;
  padding: 12px;
  height: 48px;
  width: 48px;

  &:hover {
    background-color: $purple;
    color: $white;
    stroke: $white;

    .gear-color {
      stroke: $white;
    }
  }
}

.setting-aside {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  max-width: 665px;
  margin: 0;
  background: $white;
  box-shadow: 0 2px 8px $whiteFadeShadow, inset 0px -1px 0px $whiteInsetShadow;
  transition: 0.3s all;
  z-index: 1001;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #000;
  opacity: 0.5;
}

.mm-holdings-details-modal {
  div {
    color: $darkGray
  }
  .table-heading {
    color: $gray;
  }

  .form-control {
    height: 48px;
    font-size: 0.875rem;
    border: 1px solid $grayOpacity24;
    padding: 0 20px;

    &:focus, &:active {
      border: 1px solid $gray;
    }
  }

  .drop-box .dropdown-toggle {
    width: 100%;
    color: #495057;
    background-color: $white;
  }

  .dropdown-select-input .checkbox-list {
    max-height: 40vh;
  }

  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: inherit;
    background-color: inherit;
  }

  .description {
    font-size: 1rem;
    line-height: 150%;
    color: $gray;
  }

  &__title {
    font-weight: normal;
    font-size: 1.75rem;
    color: $black;
  }

  &__sub-title {
    font-weight: bold;
    font-size: 1rem;
  }

  .nav-tabs {
    border-bottom: 1px solid $white;
  }

  .nav-tabs .nav-link, .nav-tabs .mm-nav-link {
    font-size: 1.125rem;
    line-height: 23px;
  }

  .nav-tabs .nav-link.active, .nav-tabs .active.mm-nav-link, .nav-tabs .nav-item.show .nav-link, .nav-tabs .show.mm-nav-item .nav-link, .nav-tabs .nav-item.show .mm-nav-link, .nav-tabs .show.mm-nav-item .mm-nav-link {
    color: $darkGray;
  }
  
  .nav-tabs .nav-link:hover, .nav-tabs .mm-nav-link:hover, .nav-tabs .nav-link:focus, .nav-tabs .mm-nav-link:focus {
    border-color: $white;
  }

  .nav-tabs .nav-link.active, .nav-tabs .active.mm-nav-link, .nav-tabs .nav-item.show .nav-link, .nav-tabs .show.mm-nav-item .nav-link, .nav-tabs .nav-item.show .mm-nav-link, .nav-tabs .show.mm-nav-item .mm-nav-link {
    border-color: $white;
    border-bottom: 1.5px solid $purple;
  }

  a {
    color: $gray;
  }

  .nav-link, .mm-nav-link {
    padding: 0.5rem 0;
    margin-right: 6.25rem;
  }

  .row {
    font-size: 1rem;
  }

  .key {
    font-weight: 600;
    color: $darkGray;
  }

  .action-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-top: 1rem;

    button:nth-child(2) {
      margin-left: 1rem;
    }

    button {
      position: relative;

      .spinner {
        position: absolute;
        top: 8px;
        right: 0;
      }
    }
  }

  .react-datepicker__input-container input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .classification-total {
    color: $purple;
    line-height: 19px;
  }

  .unclassified {
    color: $gray !important;
    font-size: 1rem;
    border-bottom: 1px solid rgba($gray, 0.24);
    margin: 15px 0 0 0;

    div.col-sm {
      padding-left: 0;
    }
  }

  .current-m {
    color: $greenText;
  }

  .liner-gradient { 
    background: linear-gradient(90deg, $purpleOpacity04 0%, $purpleOpacity03 100%);
  }

  .monthly-values-sub-tabs {
    
    .nav-tabs {
      border-bottom: 1px solid $white;
      position: relative;
      overflow: auto;
      overflow-y: hidden;
      flex-wrap: nowrap;
      border: 1px solid rgba($gray, 0.24);
      border-radius: 4px;
      max-width: 536.5px;
    }
  
    .nav-tabs .nav-link, .nav-tabs .mm-nav-link {
      font-size: 0.875rem;
      line-height: 16px;
      padding: 15px 49px;
      margin-right: 0;
      color: $gray;
      border-color: $white;
    }
  
    .nav-tabs .nav-link.active, .nav-tabs .active.mm-nav-link, .nav-tabs .nav-item.show .nav-link, .nav-tabs .show.mm-nav-item .nav-link, .nav-tabs .nav-item.show .mm-nav-link, .nav-tabs .show.mm-nav-item .mm-nav-link {
      color: $purple;
      border: 1.5px solid $white;
    }

    #mothly-value-sub-tab-tab-null {
      border: 1.5px solid $primary;
      border-radius: 4px;
      width: 133.61px;
      height: 48px;
      position: absolute;
    }
    
    .nav-tabs a:first-child.active ~ #mothly-value-sub-tab-tab-null {
      transform: translateX(0);
      transition: transform 0.2s ease-in-out;
    }
    
    .nav-tabs a:nth-child(2).active ~ #mothly-value-sub-tab-tab-null {
      transform: translateX(133.61px);
      transition: transform 0.2s ease-in-out;
    }
    
    .nav-tabs a:nth-child(3).active ~ #mothly-value-sub-tab-tab-null{
      transform: translateX(267.22px);
      transition: transform 0.2s ease-in-out;
    }

    .nav-tabs a:nth-child(4).active ~ #mothly-value-sub-tab-tab-null{
      transform: translateX(400.83px);
      transition: transform 0.2s ease-in-out;
    }

  }

  .classifications-sub-tabs {
    
    .nav-tabs {
      border-bottom: 1px solid $white;
      position: relative;
      overflow: auto;
      overflow-y: hidden;
      flex-wrap: nowrap;
      border: 1px solid rgba($gray, 0.24);
      border-radius: 4px;
      max-width: 707.64px;
    }
  
    .nav-tabs .nav-link, .nav-tabs .mm-nav-link {
      font-size: 0.875rem;
      line-height: 16px;
      width: 176.41px;
      min-width: 176.41px;
      display: flex;
      justify-content: center;
      color: $gray;
      border-color: $white;
      padding: 15px 49px;
      margin-right: 0;
      white-space: nowrap;
    }
  
    .nav-tabs .nav-link.active, .nav-tabs .active.mm-nav-link, .nav-tabs .nav-item.show .nav-link, .nav-tabs .show.mm-nav-item .nav-link, .nav-tabs .nav-item.show .mm-nav-link, .nav-tabs .show.mm-nav-item .mm-nav-link {
      color: $purple;
      border: 1.5px solid $white;
    }

    #classifications-sub-tab-tab-null {
      border: 1.5px solid $primary;
      border-radius: 4px;
      width: 176.41px;
      height: 48px;
      position: absolute;
    }
    
    .nav-tabs a:first-child.active ~ #classifications-sub-tab-tab-null {
      transform: translateX(0);
      transition: transform 0.2s ease-in-out;
    }
    
    .nav-tabs a:nth-child(2).active ~ #classifications-sub-tab-tab-null {
      transform: translateX(176.41px);
      transition: transform 0.2s ease-in-out;
    }
    
    .nav-tabs a:nth-child(3).active ~ #classifications-sub-tab-tab-null{
      transform: translateX(352.82px);
      transition: transform 0.2s ease-in-out;
    }

    .nav-tabs a:nth-child(4).active ~ #classifications-sub-tab-tab-null{
      transform: translateX(529.23px);
      transition: transform 0.2s ease-in-out;
    }

  }

}

.mm-activity-details-modal {
  div {
    color: $darkGray
  }
  .table-heading {
    color: $gray;
  }

  .form-control {
    height: 48px;
    font-size: 0.875rem;
    border: 1px solid $grayOpacity24;
    padding: 0 20px;

    &:focus, &:active {
      border: 1px solid $gray;
    }
  }

  .drop-box .dropdown-toggle {
    width: 100%;
    color: #495057;
    background-color: $white;
  }

  .drop-box .dropdown-toggle:focus, .drop-box .dropdown-toggle:hover, .drop-box .dropdown-toggle:active {
    background: $white !important;
    box-shadow: none !important;
    color: #495057 !important;
  }

  .dropdown-select-input .checkbox-list {
    max-height: 40vh;
  }

  &__title {
    font-weight: normal;
    font-size: 1.75rem;
    color: $black;
  }

  &__sub-title {
    font-weight: bold;
    font-size: 1rem;
  }

  .row {
    font-size: 1rem;
  }

  .one-row {
    justify-content: center;

    @media(min-width: $md) {
      justify-content: space-between;
    }
  }

  .key {
    font-weight: 600;
    color: $darkGray;
  }

  .action-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    &>span {
      color: $gray;
      font-style: normal;
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 18px;
      display: flex;
      align-items: center;

      .checkbox-item .geekmark {
        color: $lightBg;
        border: 1px solid $lightBg;
      }
    }

    button:nth-child(2) {
      margin-left: 1rem;
    }

    button {
      position: relative;

      .spinner {
        position: absolute;
        top: 8px;
        right: 0;
      }
    }
  }

  .react-datepicker__input-container input {
    display: block;
    width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: $white;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    height: 48px;
    font-size: 0.875rem;
    border: 1px solid $grayOpacity24;
    padding: 0 20px;
    min-width: 120px;
  }

}
#holdings-details-modal-tabpane-classifications {
  max-width: 752px;

  .dropdown-select-input {
    max-width: 300px;
  }

  .classification-percentage {
    max-width: 174px;
  }
}
.classify-percentage {
  text-align: right;
  margin-right: 70px;
}
.classify-total-percentage {
  text-align: right;
  margin-right: 60px;
}

.radio-custom input[type='radio'] {
  opacity: 0;
  height: 20px;
  width: 20px;
  position: absolute;
  z-index: 999;
}

.radio-custom label {
  position: relative;
  padding-left: 30px;
  padding-right: 20px;
}

.radio-custom input + label::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border: 1px solid $primary;
  border-radius: 100%;
  left: 0px;
  opacity: 0.24;
  top: 0px;
}

.radio-custom input + label::after {
  background: $primary;
  height: 8px;
  width: 8px;
  content: '';
  position: absolute;
  left: 6px;
  border-radius: 100%;
  opacity: 0;
  top: 6px;
}

.radio-custom input:checked + label::after {
  opacity: 1;
}

.delete-account-modal .modal.mm-modal-backdrop.modal-show{
  @media(min-width: $med) {
    width: 530px;
  }
  @media(min-width: $md) {
    width: 665px;
  }
}
