.inline-alert {
  display: none;
}

.inline-alert:not(.hidden) {
  top: 1rem;
  left: 40%;
  z-index: 99;
  display: flex;
  color: $white;
  padding: 0.7rem;
  cursor: pointer;
  position: absolute;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 4px 8px $pinkShadow30;
  font-size: 0.9375rem;
  height: 42px;

  button {
    margin-left: 2rem;
    color: $white;
    opacity: 1;
    font-weight: 200;
    margin-bottom: 4px;

    &:hover {
      color: lighten($color: $white, $amount: 20);
    }
  }
}
