.inline-alert {
  display: none;
}

.inline-alert:not(.hidden) {
  display: flex;
  align-items: baseline;
  position: absolute;
  top: 1rem;
  left: 40%;
  padding: 0.7rem;
  color: $white;
  z-index: 2;
  button {
    margin-left: 1rem;
    color: $white;
    opacity: 0.7;
    &:hover {
      color: lighten($color: $white, $amount: 20);
    }
  }
}
