body {
  font-family: 'Mulish', sans-serif, Arial, Helvetica;
  font-size: 1rem;
  font-weight: 300;
  overflow-x: hidden;
}
p {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 150%;
}
h1 {
  font-size: 3.3rem !important;
  font-weight: 300;
}
h3 {
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 2.8125rem;
}
h5 {
  font-size: 1.125rem;
}
h6 {
  font-weight: 300 !important;
}

.light {
  opacity: 0.6;
}
.light-80 {
  opacity: 0.8;
}
.mm-container {
  padding: 0;
  margin-left: 120px;
  margin-right: 120px;
}

//
.mm-container-right {
  margin-left: 120px;
}

// Buttons

.mm-btn {
  @extend .btn;
  width: 180px;
  height: 48px;
}

.mm-btn-xs {
  @extend .btn;
  width: 76px;
  height: 29px;
  padding: 3px;
  font-size: 18px;
  line-height: 23px;
}

.mm-btn-signup {
  @extend .mm-btn;
  width: 160px;
  &:hover {
    box-shadow: 0 4px 12px #b9b8e0;
  }
}

.mm-btn-animate {
  @extend .mm-btn;
  transition: 0.3s;
  &:hover {
    transform: translateY(-6px);
  }
}

.mm-btn-primary-outline {
  color: $white;
  border-color: $white;
  &:hover {
    color: $primary;
    border-color: $white;
    background-color: $white;
  }
}
.container-mm {
  max-width: 1200px;
  width: auto !important;
  margin: auto;
}
// media queries
@media (max-width: $sm) {
  h1 {
    font-size: 36px !important;
  }

  .mm-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .mm-container-right {
    margin-left: 20px;
  }
}

@media (max-width: $md) {
  .mm-container {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: $lg) {
  .mm-container-right {
    overflow: hidden;
  }
}

@media (min-width: $lg+1) {
  .mm-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .mm-container-right {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 36px 120px 74px 120px;
  }
}
// Labels

.mm-label {
  width: 76px;
  height: 29px;
  padding: 3px;
  font-size: 18px;
  line-height: 23px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
