body {
  font-family: 'Mulish', sans-serif, Arial, Helvetica;
}
h1 {
  font-size: 3rem !important;
}

h6 {
  font-weight: 300 !important;
}

.light {
  opacity: 0.9;
}

.mm-container {
  padding: 0;
  margin-left: 120px;
  margin-right: 120px;
}

//
.mm-container-right {
  margin-left: 120px;
}

// Buttons

.mm-btn {
  @extend .btn;
  width: 180px;
  height: 48px;
}

.mm-btn-xs {
  @extend .btn;
  width: 76px;
  height: 29px;
  padding: 3px;
  font-size: 18px;
  line-height: 23px;
}

.mm-btn-signup {
  @extend .mm-btn;
  width: 160px;
}

.mm-btn-animate {
  @extend .mm-btn;
  transition: 0.3s;
  &:hover {
    transform: translateY(-6px);
  }
}

.mm-btn-primary-outline {
  color: $white;
  border-color: $white;
  &:hover {
    color: $primary;
    border-color: $white;
    background-color: $white;
  }
}

// media queries
@media (max-width: $sm) {
  h1 {
    font-size: 36px !important;
  }

  .mm-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: $md) {
  .mm-container {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (min-width: $lg+1) {
  .mm-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .mm-container-right {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 36px 120px 36px 120px;
  }
}
