body {
  font-family: 'Mulish', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  overflow-x: hidden;
  background-color: $lightBg;
}
p {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 150%;
}
h1 {
  font-size: 3.3rem;
  font-weight: 300;
}
h3 {
  font-weight: 300;
  font-size: 2.25rem;
  line-height: 2.8125rem;
}
h5 {
  font-size: 1.125rem;
}
h6 {
  font-weight: 300 !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
textarea.form-control {
  min-height: 100px;
}

.link-gray {
  color: $gray;

  &:hover {
    color: $darkGray;
  }
}

.light {
  opacity: 0.6;
}

.light-80 {
  opacity: 0.8;
}

.mm-container {
  padding: 0;
  margin-left: 120px;
  margin-right: 120px;
}

.mm-container-right {
  margin-left: 120px;
}

// Buttons

.mm-btn {
  @extend .btn;
  width: 180px;
  height: 48px;
}

.mm-btn-xs {
  @extend .btn;
  width: 76px;
  height: 29px;
  padding: 3px;
  font-size: 1.125rem;
  line-height: 23px;
}

.mm-btn-signup {
  @extend .mm-btn;
  width: 160px;
  &:hover {
    box-shadow: 0 4px 12px $purpleShadow;
  }
}

.mm-btn-animate {
  @extend .mm-btn;
  transition: 0.3s;
  &:hover {
    transform: translateY(-6px);
    color: $white;
  }
}

.mm-btn-primary {
  color: $white;
  background: $purple;
  &:hover {
    box-shadow: 0 4px 12px $purpleShadow;
  }
  &:disabled {
    opacity: 0.7;
  }
}

.mm-btn-primary-outline {
  color: $lightBg;
  border: 1.5px solid $white;
  box-sizing: border-box;
  border-radius: 4px;

  &:hover {
    background: $lightBg;
    color: $purple;
    box-shadow: 0 4px 12px $whiteOutlineButtonShadow;
  }
  &:disabled {
    opacity: 0.7;
  }

  &[disabled]:hover {
    box-shadow: none;
    cursor: not-allowed;
  }
}

.mm-btn-crypto {
  background: $pinkAlert;
}

.container-mm {
  max-width: 1200px;
  width: auto !important;
  margin: auto;
}
.container-fluid {
  padding: 0 40px;
}

.drop-box.dropdown {
  border-radius: 4px;
  color: $gray;
  // background: $white;
  // border: 1px solid $grayOpacity24;

  &:hover,
  &:focus,
  &:active {
    color: $darkGray;
    // border: 1px solid $gray;
    // background: $white;
    box-shadow: none;
  }

  &:after {
    color: $gray;
    &:hover {
      color: $darkGray;
    }
  }
}

// media queries

.mm-label {
  width: 76px;
  height: 29px;
  padding: 3px;
  font-size: 1.125rem;
  line-height: 23px;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
// Forms

.mm-form-field {
  height: 48px;
  font-size: 0.875rem;
  border: 1px solid $grayOpacity24;
  border-radius: 4px;
  padding: 0 20px;
  color: $darkGray;
  width: 100%;

  &:active,
  &:focus {
    border: 1px solid $gray;
  }

  &::placeholder {
    color: $gray;
  }
}
button.dropdown-toggle {
  text-align: left;
  padding-left: 20px;
}

// message wrapper
.message-container {
  color: $white;
  box-shadow: 0 2px 8px $whiteFadeShadow;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 3;
  left: 0;
}
.message-container.success {
  background-color: $green;
}

.message-container.error {
  background-color: $redAlert;
}

.message-wrapper {
  padding: 1rem 1rem;

  @media (min-width: $sm) {
    padding: 1rem 2rem;
  }
  @media (min-width: $md) {
    padding: 1rem 4rem;
  }
  @media (min-width: $lg) {
    padding: 1rem 6rem;
  }
}

#fastlinkContainer {
  iframe {
    height: 100%;
  }
}

.icon {
  cursor: pointer;
}

@media (max-width: $lg) {
  .mm-container-right {
    overflow: hidden;
  }
}

@media (min-width: $lg+1) {
  .mm-container {
    max-width: 100%;
  }
  .mm-container-right {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 36px 120px 74px 56px;
  }
}

@media (max-width: $md) {
  .mm-container {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: $sm) {
  h1 {
    font-size: 2.25rem !important;
  }

  .mm-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .mm-container-right {
    margin-left: 20px;
  }
}
.mm-overview-wrapper {
  background-image: url('../images/background-shadow.svg');
  background-size: 50%;
  background-position: top right;
  background-repeat: no-repeat;

  @media (max-width: $md + 400) {
    background-size: 100%;
  }
}

// switch checkbox
.mm-switch-block {
  .mm-switch-input {
    display: none;
  }

  .mm-switch {
    width: 2.5rem;
    height: 1.375rem;
    border-radius: 12.5px;
    margin: 0;
    border: 1px solid $grayOpacity20;
    box-sizing: border-box;
    display: block;
    position: relative;

    &:hover {
      cursor: pointer;
    }

    &:after {
      content: '';
      height: 1.125rem;
      width: 1.125rem;
      border-radius: 9px;
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
      background: $grayOpacity70;
      box-shadow: 0 2px 2px $purpleOpacity30;
      transition: ease-out 0.2s;
    }
  }

  input[type='radio'] {
    &:checked {
      & + label {
        &:after {
          left: calc(100% - 19px);
          background: $primary;
        }
      }
    }
  }

  input[type='checkbox'] {
    &:checked {
      & + label {
        &:after {
          left: calc(100% - 19px);
          background: $primary;
        }
      }
    }
  }
}
// custom radio button
.mm-radio-block {
  .mm-radio {
    position: relative;
    padding-left: 2.188rem;
    cursor: pointer;
    margin: 0.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked {
        & ~ .mm-checkmark {
          &:after {
            display: block;
          }
        }
      }
    }

    .mm-checkmark {
      &:after {
        top: 5px;
        left: 5px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $primary;
      }
    }
  }

  .mm-checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background-color: $white;
    border: 1px solid $purpleOpacity20;
    border-radius: 50%;

    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }
}

.form-control:focus {
  box-shadow: none;
}
.form-control-lg {
  font-size: 1rem;
}
.form-control:disabled {
  background-color: $grayOpacity20;
  color: $gray !important;
}
// hide block, div for small screen
.sm-hide {
  @media (max-width: $sm + 1) {
    display: none;
  }
}
.mm-md-hide {
  @media (min-width: $md) {
    display: none;
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid $grayOpacity20;
}
.mm-overview-block {
  background: $lightBg;
}

// action overlay

.action-overlay {
  box-shadow: 0 2px 8px $whiteFadeShadow, inset 0px -1px 0px $whiteInsetShadow;
  border: none;
  position: fixed;
  height: 80px;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  z-index: 2;
  word-wrap: break-word;
  background-color: $white;
  background-clip: border-box;
  border-radius: 0.25rem;
  padding: 1rem 2.5rem;

  button {
    @extend .mm-btn-animate;
    @extend .mm-btn-primary;
    align-self: flex-end;
    width: 180px;
    height: 48px;

    &:hover {
      background-color: $purple;
    }
  }
}

.hide-me {
  display: none;
}

.hide-sm {
  display: none;

  @media (min-width: $sm) {
    display: inline;
  }
}

// coming soon badge

.mm-coming-soon {
  font-size: 0.6875rem;
  vertical-align: top;
  color: $purple;
  background-color: $purpleOpacity20;
  font-weight: 500;
  border-radius: 6px;

  @media (min-width: $md) {
    font-size: 1rem;
  }
}

// dropdowns
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Some browsers will not display the caret when using calc, so we put the fallback first */
  background: url('../images/signup/arrow.svg') white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
  background: url('../images/signup/arrow.svg') white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
  display: table;
  width: 100%;
  height: 48px;
  padding: 1px 16px;
  border: 1px solid $grayOpacity24;
  border-radius: 4px;
  font-size: 0.875rem;
  color: $darkGray;

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid $gray;
  }
}

.dropdown-select-input {
  .checkbox-list {
    overflow-x: scroll;
    max-height: 500px;
    li {
      width: 100%;
      margin: 0;
    }
  }
}
