// color list
$red: #d3365f;
$blue: #235ee7;
$cyan: #29cfd6;
$pink: #fd8f95;
$gray: #969eac;
$green: #10c273;
$black: #000000;
$white: #ffffff;
$purple: #534cea;
$yellow: #ffbc02;
$darkBg: #081833;
$lightBg: #fafbfd;
$redAlert: #ec5555;
$darkGray: #434a55;
$darkBlue: #1f32ad;
$purpleLight: #d3d1fa;
$twitter: #00acee;
$borderAlert: #e2e5ea;
$pinkAlert: #fd8f95;
$dimGray: #9c9fa53d;
$link: #4dccff;

// opacity color
$grayOpacity: #969eac24;
$grayOpacity40: #969eac40;
$purpleOpacity: #534cea24;

// shadow color
$whiteShadow: #dbe3f0;
$whiteInsetShadow: #ebecf1;
$whiteFadeShadow: #e2e8f3;
$purpleShadow: #b9b8e0;
$whiteOutlineButtonShadow: #3a33cc;
$whiteFadeInsetShadow: #e2e8f3; // fixme

$blurBg: rgba(236, 241, 249, 0.4);
$modalCardBg: #ecf1f966;

// theme colors
$primary: $purple;
$secondary: $darkBg;

// light color
$primaryLight: $purpleLight;

// spacing
$s: 0.5rem;
$s1: 1rem;
$s2: 2rem;
$s3: 3rem;
$s4: 4rem;

// breakpoints
$sm: 375px;
$med: 576px;
$md: 768px;
$desk: 1024px;
$lg: 1400px;

// font weight
$lighter: 500;
$normal: 600;

//font weights
$bold: 500;
$bolder: 600;
