// color list
$red: #d3365f;
$blue: #235ee7;
$cyan: #29cfd6;
$pink: #fd8f95;
$gray: #969eac;
$green: #10c273;
$black: #000000;
$white: #ffffff;
$purple: #534cea;
$yellow: #ffbc02;
$darkBg: #081833;
$lightBg: #fafbfd;
$redAlert: #ec5555;
$darkGray: #434a55;
$darkBlue: #1f32ad;

// theme colors
$primary: $purple;
$secondary: $darkBg;

// spacing
$s: 0.5rem;
$s1: 1rem;
$s2: 2rem;
$s3: 3rem;
$s4: 4rem;
