@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap');

@import 'variables';
@import 'custom';
@import 'normalize';

@import 'node_modules/bootstrap/scss/bootstrap';

@import 'helpers';
@import 'common';
@import 'nav';
@import 'website/website';
@import 'setting/setting';
@import 'account/account';
@import 'allocation/allocation';
@import 'datepicker/datepicker';
@import 'alert';
@import 'typography';
