.credentials-wrapper.connect-wrap {
  padding-bottom: 150px;
}
.credentials-content.connect-account .connect-account-btn {
  height: 48px;
  width: 100%;
  display: block;
  margin-bottom: 40px;

  @media (min-width: $md) {
    width: 236px;
  }
}

.zillow-wrap {
  button {
    margin-right: 40px;
  }
}

span.manual-heading {
  color: $darkGray;
  font-size: 1rem;
}
.credentials-content.connect-account .manual-account-btn {
  height: 48px;
  width: 236px;
  display: block;
  outline: none;
  color: $primary;
  border: 1.5px solid $primary;
  border-radius: 4px;
  margin-bottom: 22px;
}
.credentials-content.connect-account .manual-account-btn:hover {
  background-color: $primary !important;
  color: $white;
}
.credentials-content.connect-account {
  max-width: 516px;
}
.credentials-content.connect-account p {
  margin-bottom: 20px;
}
.manual-account-section {
  position: relative;
  padding-top: 26px;
}
.manual-account-section::before {
  content: '';
  background: $gray;
  height: 1px;
  width: 100%;
  position: absolute;
  opacity: 0.24;
  top: 0;
  left: 0;
}
.zillow-wrap {
  position: relative;
}
span.zillow-img {
  position: inherit;
  display: block;
}
.subscription-bottom-text.connect-account {
  padding: 8px 95px 15px 171px;
}
.account-mobile-content {
  display: block;

  .step {
    font-size: 0.68rem;
    font-weight: 600;
  }

  p {
    color: $primary;
    line-height: 98%;
    text-align: center;
  }

  @media (min-width: $med) {
    display: none;
  }
}

.connect-steps-wrap {
  max-width: 379px;
  overflow: hidden;
  display: none;
  width: 100%;

  @media (min-width: $med) {
    display: table;
  }
}
.footer-table-wrapper {
  padding: 0 32px;
}
@media (min-width: $lg+1) {
  .manual-account-section::before {
    width: 566px;
  }
  .subscription-bottom-text.connect-account {
    padding-left: 217px;
  }
}
@media (max-width: $md + $sm) and (min-width: $md + 1) {
  .mm-container.mm-container-final {
    margin: 0 40px;
  }
  .credentials-content {
    padding-left: 52px;
    max-width: 420px;
  }
  .subscription-bottom-text.connect-account {
    padding: 6px 50px;
  }
}
@media (max-width: $md) {
  .subscription-bottom-text.connect-account {
    padding: 6px 40px;
  }
  .subscription-bottom-text.connect-account {
    padding: 9px 31px !important;
  }
}
@media (max-width: $sm) {
  .connect-account .subs-content svg {
    display: none;
  }
  .subscription-bottom-text.connect-account {
    display: block;
  }
}

.step-content {
  display: table-cell;
  width: 30.33%;
  text-align: center;
}
.step-content {
  position: relative;
}
.step-content.left-border::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: $gray;
  top: 21px;
  right: -150%;
  z-index: 99;
  opacity: 0.4;
}
.step-content.left-border.bg-purple::before {
  background: $purple;
  opacity: 1;
}

.step-content.left-border::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: $primary;
  top: 21px;
  left: 29%;
}
.connect-text {
  margin-top: 41px;
  display: block;
  font-size: 0.75rem;
  color: $primary;
}
.step-icon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}
.step-icon.icon-two {
  left: 21%;
}
.step-icon.icon-three:not(.selected) {
  left: 48%;
  top: 11%;
}
.step-icon.icon-three {
  left: 40%;
}

.connect-text {
  margin-right: 13px;
}
.subscription-bottom-text.connect-account {
  padding: 8px 95px 15px 171px;
  position: fixed;
  bottom: 0;
  z-index: 999;
  background: white;
  height: auto;
  width: 100%;
  right: 0;
}
.main-table-wrapper {
  position: relative;
}
.action-next-step {
  color: $gray;
  opacity: 0.4;
}
