.credintials-wrapper.connect-wrap {
  padding-bottom: 183px;
}
.credintials-content.connect-account .connect-account-btn {
  height: 48px;
  width: 236px;
  display: block;
  outline: none;
  border: none;
  margin-bottom: 40px;
  border-radius: 4px;
}
.credintials-content.connect-account .connect-account-btn:hover {
  background-color: $white !important;
  color: $primary;
  border: 1px solid $primary;
}
span.manual-heading {
  color: $darkGray;
  font-size: 1rem;
}

.credintials-content.connect-account .manual-account-btn {
  height: 48px;
  width: 236px;
  display: block;
  outline: none;
  border: none;
  color: $primary;
  border: 1.5px solid $primary;
  border-radius: 4px;
  margin-bottom: 22px;
}
.credintials-content.connect-account .manual-account-btn:hover {
  background-color: $primary !important;
  color: $white;
}
.credintials-content.connect-account p {
  margin-bottom: 20px;
}
.credintials-content.connect-account {
  max-width: 486px;
}

.manual-account-section {
  position: relative;
  padding-top: 26px;
}
.manual-account-section::before {
  content: '';
  background: $gray;
  height: 1px;
  width: 100%;
  position: absolute;
  opacity: 0.24;
  top: 0;
  left: 0;
}
.zillow-wrap {
  position: relative;
}
span.zillow-img {
  position: absolute;
  top: 11px;
  right: 0;
}
.subscription-bottom-text.connect-account {
  padding: 8px 95px 15px 171px;
}
.account-mobile-content {
  display: none;
}
.footer-table-wrapper {
  padding: 0 32px;
}
@media (min-width: $lg+1) {
  .manual-account-section::before {
    width: 566px;
  }
  .subscription-bottom-text.connect-account {
    padding-left: 217px;
  }
}
@media (max-width: $md + $sm) and (min-width: $md + 1) {
  .mm-container.mm-container-final {
    margin: 0px 40px;
  }
  .credintials-content {
    max-width: 86%;
    padding-left: 52px;
  }
  .guide-content {
    padding-left: 22px;
  }
  .subscription-bottom-text.connect-account {
    padding: 6px 50px;
  }
}
@media (max-width: $md) {
  // .connect-account svg path {
  //   stroke-dasharray: 77px;
  // }
  .subscription-bottom-text.connect-account {
    padding: 6px 40px;
  }
}
@media (max-width: $sm) {
  span.zillow-img {
    position: static;
    display: block;
  }
  .connect-account .subs-content svg {
    display: none;
  }
  .account-mobile-content {
    display: block;
  }
  .subscription-bottom-text.connect-account {
    display: block;
  }
  .account-mobile-content .step {
    font-size: 0.68rem;
    font-weight: 600;
  }
  .account-mobile-content p {
    color: $primary;
    line-height: 98%;
    text-align: center;
  }
}
