.rtl {
  direction: rtl;
}
.home-top {
  h1 {
    padding-bottom: 1.3rem;
  }
  p {
    color: $gray;
  }
}
.networth-section {
  h1 {
    padding-bottom: 1.3rem;
  }
  p {
    color: $gray;
  }
}
.home-list ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.home-list ul li {
  margin: 0 10px;
  list-style: none;
  flex: 1 0 31.5%;
  font-size: 1.25rem;
  color: $gray;
}

.home-list ul li h2 {
  font-size: 1.75rem;
  line-height: 2.1875rem;
  color: $black;
}

.mm-container-right.home-banner-container {
  padding-top: 7px;
}

//Banner section
.home-left-banner {
  max-width: 602px;
}

.home-left-banner p {
  margin-bottom: 58px;
}

.home-left-banner .scroll-down-btn a .scroll-dot {
  transition: 0.3s;
}

.home-left-banner .scroll-down-btn a:hover .scroll-dot {
  transform: translateY(15px);
}

.home-left-banner .scroll-down-btn {
  padding-top: 44px;
}

.home-banner-right {
  margin-top: -57px;
}

//Early adopter Section
.early-adopter-section {
  padding-top: 115px;
  padding-bottom: 181px;

  @media (max-width: $md) {
      padding-top: 0px;
  }
}
.early-adopter-section .adopter-top-wrap {
  max-width: 500px;
  margin-bottom: 116px;
}

.early-adopter-section .earlyadopter-list li {
  padding: 56px 33px 46px;
  box-shadow: 0 2px 8px #E2E8F3, inset 0px -1px 0px #EBECF1;
  border-radius: 6px;
}

.early-adopter-section .adopter-content h2 {
  margin-bottom: 29px;
}

.early-adopter-section .early-adopter-tag svg {
  background: linear-gradient(180deg, $purple 41.07%, #3e37d7 100%);
  box-shadow: 5px 10px 16px rgba(81, 84, 233, 0.2);
}
.early-adopter-tag {
  position: absolute;
  top: -21px;
  left: 34px;
}
.early-adopter-tag span {
  background: linear-gradient(180deg, $purple 41.07%, #3e37d7 100%);
  display: inline-block;
  padding: 5px 9px;
  border-radius: 6px;
}
.earlyadopter-list li {
  position: relative;
}

//Feature Section
.mm-container-right.home-feature-section {
  background-color: $darkBg;
  padding-top: 107px;
  padding-bottom: 0px;
}
.home-feature-section .feature-content h2 {
  margin-bottom: 16px;
  color: $white;
}

.home-feature-section .feature-content {
  max-width: 85%;
}

.home-feature-section .feature-content p {
  color: $white;
}

.home-feature-section li {
  margin-bottom: 89px !important;
}

.home-feature-section li .feature-icon {
  margin-bottom: 29px;
}

//Blog Section
.home-blog-section {
  padding-top: 104px;
  padding-bottom: 6px;
}
.home-blog-section .blog-top-content {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 44px;
}

.home-blog-section .blog-content-left {
  width: 85%;
}

.home-blog-section .blog-content-left h1 {
  max-width: 748px;
  line-height: 55px;
  margin-bottom: 49px;
}

.home-blog-section .blog-content-left p {
  color: $gray;
}

.home-blog-section .blog-content h2 {
  font-size: 2rem;
  font-weight: 200;
  overflow: hidden;
  margin-bottom: 18px;
  line-height: 2.56rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  letter-spacing: 0.02em;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  color: $black;

  a {
    color: $black;
  }
}

.home-blog-section .blog-content {
  max-width: 369px;
}

.home-blog-section .blog-img {
  margin-bottom: 23px;
  width: 384px;
  height: 257px;
  img {
    width: 97%;
    height: 100%;
    border-radius: 6px;
  }
}

.home-blog-section .blog-content {
  max-width: 384px;
  overflow: hidden;
}
.home-list.blog-list li {
  flex: auto;
  float: left;
  width: 30.33%;
}

.blog-content {
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

//allocation section

.allocation-section .networth-section {
  padding-top: 73px;
}
.allocation-section .networth-text {
  padding-top: 155px;
}

//performance section
.performance-section .networth-section {
  padding-top: 70px;
}
.performance-section .networth-text {
  padding-top: 100px;
}
.performance-section .networth-chart {
  width: 86%;
}
span.above-tag-text {
  color: $primary;
  font-size: 1.125rem;
  line-height: 1.437rem;
  background: rgba(83, 76, 234, 0.2);
  padding: 0px 7px;
  border-radius: 6px;
  position: absolute;
  top: 8px;
  right: -141px;
}
.performance-section .networth-section h1,
.minxwinks-section .networth-section h1,
.minxmeasure-section .networth-section h1 {
  position: relative;
  display: inline-block;
}
//maxwinks section
.minxwinks-section .networth-section {
  padding-top: 93px;
}
.minxwinks-section .networth-text {
  padding-top: 155px;
}
.mm-container-right.minxwinks-section {
  padding-left: 1px;
}
.minxwinks-section .networth-chart {
  width: 95%;
}

//minx measure section
.minxmeasure-section .networth-section {
  padding-top: 84px;
}
.minxmeasure-section .networth-text {
  padding-top: 90px;
}
.minxmeasure-section .networth-chart {
  float: right;
  width: 72%;
}
.home-networth.networth-section .networth-text p span {
  position: absolute;
  top: -94px;
}

// coming soon
.home-coming-soon {
  text-align: center;
  margin: auto;
  padding-top: 78px;
}
@media (max-width: $lg+1) {
  .mm-container-right.home-feature-section {
    margin-left: 0;
    padding-left: 120px;
  }

  .allocation-section .networth-text {
    padding-right: 25px;
  }

  .home-blog-section .blog-top-content {
    padding-right: 15px;
  }
}

@media (max-width: $md) {
  .scroll-down-btn {
    position: static;
    display: none;
  }
  .mm-container-right.home-banner-container {
    margin-right: 0px;
  }
  .mm-container-right.home-feature-section {
    padding-left: 80px;
  }
  .home-feature-section .feature-content {
    max-width: none;
  }
  .home-feature-list ul li {
    flex: 1 0 47% !important;
  }
  .home-banner-right {
    float: right;
  }
  .home-list ul li {
    flex: auto;
    margin-bottom: 31px;
  }

  .mm-container-right.home-feature-section {
    margin-right: 0px;
  }

  .mm-container-right.home-feature-section {
    margin: 0 !important;
  }

  .mm-container-right {
    margin: 0 20px !important;
  }

  .minxmeasure-section .networth-chart {
    float: none;
    width: 100%;
  }

  .performance-section .networth-chart {
    width: 100%;
  }

  .home-blog-section .blog-top-content {
    display: block;
  }

  .home-blog-section ul li:last-child {
    display: none;
  }

  .home-blog-section .blog-content-left {
    width: 100%;
  }

  .home-blog-section .blog-content-left h1 {
    max-width: none;
  }
}

@media (max-width: $sm) {
  .early-adopter-section .earlyadopter-list li {
    padding: 51px 28px;
  }
  .home-list ul li {
    margin-right: 27px;
  }
  .home-feature-list ul li {
    flex: auto !important;
  }
  .mm-container-right.home-feature-section {
    padding-left: 21px;
  }
  .home-feature-section .feature-content {
    max-width: 100%;
  }
  .home-list.blog-list ul {
    margin-right: 20px;
  }
  .home-list ul li {
    margin: 0;
  }
  .home-list.blog-list li {
    float: none;
    width: 100%;
  }
  .home-networth.networth-section .networth-text p span {
    top: -44px;
  }
}
.mm-btn-primary-outline:hover {
  color: #ffffff;
  background-color: $primary !important;
  border-color: $primary;
}
a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
  background-color: $primary !important;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}
.mm-above-tag-text {
  color: #534cea;
  font-size: 1.125rem;
  line-height: 1.437rem;
  background: rgba(83, 76, 234, 0.2);
  padding: 0px 7px;
  border-radius: 6px;
  height: 24px;
  margin-left: 8px;
  margin-top: -12px;
}
.coming-soon-wrapper {
  @media (min-width: 992px) {
    padding-left: 4.5rem;
  }
  @media (min-width: 1300px) {
    padding-left: 9.5rem;
  }
}
.mm-home-banner-img {
  margin-right: -88px;

  @media (min-width: $lg - 300) {
    margin-right: -185px;
  }
  
  svg {
    width: 30rem;

    @media (min-width: $md) {
      width: 55rem;
    }

    @media (min-width: $md) {
      width: 55rem;
    }

    @media (min-width: 992px) and (max-width: 1260px) { 
      width: 28rem;
     }
  }
}
.mm-home-left-block {
  max-width: 600px;
}

.mm-home-top-section {
  padding: 1rem;
  @media (min-width: $md) {
    padding: 3rem;
  }
  @media (min-width: $lg) {
    padding: 0px 120px;
  }

  .text,
  .info-text {
    color: $gray;
  }

  .mm-scroll-down {
    margin-top: 5rem
  }
}

.main-content {
  overflow: hidden;
}

.mm-mobile-hide {
  @media (max-width: $md) {
    display: none;
  }
}
.mm-container-right-custom {
  padding: 36px 0px 74px 120px;

  @media (max-width: $md) {
    padding-left: 21px;
  }
  .networth-chart {
    width: unset;
  }
}

.networth-chart {
  float: unset;
}
@media (min-width: $lg) {
  .mm-container-right {
      padding: 36px 0px 74px 120px;
  }
  .networth-chart {
    float: unset;
    width: unset !important;
  }
}

@media (min-width: $md + 101) {
.blog-content-right button {
  margin-top: 10rem;
}
.home-list.blog-list {
  margin-bottom: 7rem;
}
}

@media (max-width: $md + 100) {
  .adopter-top-wrap {
    margin-top: 7rem;
    padding-left: 2rem;
  }
  .earlyadopter-list {
    padding-left: 2rem !important;
  }
  .home-list.blog-list {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .networth-text {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .home-networth.networth-section .networth-text p span {
    position: absolute;
    top: 0px;
  }
  .networth-chart {
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    float: unset;
    width: unset;
  }
  .networth-chart.text-right {
    padding-left: 2.6rem;
  }
}

@media (max-width: $sm + 300) {
  .adopter-top-wrap,
  .earlyadopter-list {
    padding-left: 0rem !important;
  }

  .home-list.blog-list {
      padding-left: 1rem;
      padding-right: 1rem;
  }

  .networth-text {
      padding-left: 0rem;
      padding-right: 0rem;
  }
  .networth-chart.text-right {
      padding-left: 0;
  }
  .mm-custom-networth-chart {
    margin-right: -17rem;
  }
  .minxmeasure-section .networth-chart {
      padding-left: 0;
  }
}
.blog-content a {
  color: $black;
}



/*Scroll Icon*/

.mm-scroll-container-parent {
  position: absolute;
}

.mm-scroll-container {
  position: relative;
  top: 610px;
  left: 28px;
}

.mouse {
  position: absolute;
  width: 24px;
  height: 36px;
  bottom: 40px;
  left: 50%;
  margin-left: -12px;
  border-radius: 16px;
  border: 1.5px solid $gray;
  -webkit-animation: intro 1s;
  animation: intro 1s;
}
.scroll {
  display: block;
  width: 4px;
  height: 4px;
  margin: 6px auto;
  border-radius: 4px;
  background: $gray;
  -webkit-animation: finger 2s infinite;
  animation: finger 2s infinite;
}
@-webkit-keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
