.modal-show {
  display: block;
}

.mm-modal-backdrop {
  @extend .modal-backdrop;
  background-color: transparent;
}

.modal-btn-wrapper {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.mm-modal-backdrop {
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.1);
}

.mm-modal-backdrop.in {
  opacity: 1 !important;
}

button.hidden {
  display: none;
}
