.security-top {
  h1 {
    padding-bottom: 2rem;
  }
  p {
    color: $gray;
  }
}

.security-chart-wrapper {
  padding-top: 3rem;
}
@media (max-width: $lg+1) {
  .security-chart-wrapper {
    overflow: hidden;
  }
}
