.navbar {
  position: relative;
}

.right-menu-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  .nav-item {
    padding: 0 0.5rem;
    font-size: 1.125rem;
    .nav-link {
      color: $darkGray;
    }
  }
}

.mm-nav-item {
  @extend .nav-item;
  margin: 0 0.5rem;
  height: 46px;

  &:hover {
    border-bottom: 1px solid $primary;
  }
}

.mm-nav-link {
  @extend .nav-link;
  color: $darkGray;
  &:hover {
    color: $primary !important;
  }
}

.active .mm-nav-item {
  border-bottom: 1px solid $primary;
}

.active > .mm-nav-link {
  color: $primary !important;
}

// for small mobile menu
@media (max-width: 576px) {
  .expand-all {
    left: 0;
    top: 75px;
    width: 100%;
    height: 250px;
    display: flex;
    padding: 1rem;
    position: absolute;
    background-color: lighten($color: $black, $amount: 40);

    .btn-outline-primary {
      color: $white;
      background-color: $primary;
    }

    .menu-btn-wrapper {
      width: 100%;
      display: block;
      .navbar-menu-list {
        display: block;
        .nav-link {
          color: $white;
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .auth-btn-wrapper {
        display: flex;
        .navbar-nav {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .nav-link {
            color: $white;
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}

// for tab menu
@media (min-width: 576px) {
  .expand-menu {
    left: 0;
    top: 75px;
    width: 100%;
    height: 150px;
    display: flex;
    padding: 1rem;
    position: absolute;
    background-color: lighten($color: $black, $amount: 40);
    .navbar-menu-list {
      display: block;
      .nav-item {
        .nav-link {
          color: $white;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.menu-btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 576px) {
  .auth-btn-wrapper {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-menu-list {
    display: none;
  }
  .right-menu-wrapper .nav-item,
  .right-menu-wrapper .mm-nav-item {
    padding: 0 0.3rem;
  }
}

@media (min-width: 769px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

// greater than 768
@media (min-width: 769px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

.navbar-nav {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
