.website-footer {
  margin-top: 145px;
  position: relative;
}
.website-footer-wrapper {
  padding: 290px $s4 $s4 $s4;
}
.signup-today-wrapper {
  padding: 4rem;
  border-radius: 0.4rem;
  position: absolute;
  min-height: 290px;
  left: 120px;
  right: 120px;
  top: -145px;
}
.wf-list-wrapper p {
  opacity: 0.8;
  line-height: 1.4375rem;
  margin-top: 2.25rem;
  font-size: 1.1rem;
}
.info-wrapper {
  font-size: 0.9375rem;
  line-height: 170%;
}
.signup-btn-wrapper {
  margin: auto;
}
@media (max-width: $md) {
  .signup-today-wrapper {
    padding: 2rem;
    left: 80px;
    right: 80px;
  }

  .wf-list-wrapper {
    text-align: left;
  }
  .signup-btn-wrapper {
    margin: auto;
  }
}

@media (max-width: $sm + $md) {
  .website-footer-wrapper {
    padding-top: 315px;
  }
}

@media (min-width: $sm) and (max-width: $md) {
  .signup-today-wrapper {
    padding: 2rem;
    left: 35px;
    right: 35px;
  }
  .signup-today-wrapper h1 {
    font-size: 2.3rem !important;
  }
}
@media (max-width: $sm) {
  .website-footer-wrapper {
    padding: 245px $s4 $s4 $s4;
  }
  .signup-today-wrapper {
    padding: 1rem;
    left: 20px;
    right: 20px;
  }
  .signup-btn-wrapper {
    width: 100%;
  }
  .btn-xs-block {
    width: 100%;
    margin: 0.5rem 0 !important;
  }
}

//Recently Added
.signup-btn-wrapper button {
  display: block;
  margin-bottom: 20px;
  margin-left: 0px !important;
}

@mixin footer-resp {
  .wf-list-wrapper{
    text-align: left;
        p {
          margin-top: 0;
       } 
     }

.wf-list-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 1rem;

  p.light{
      min-width: 50% !important;
        }
}
.download-btn-wrapper{
  display: flex;
      .first-svg-item{
        margin-right: 0.5rem;
      }
    }

  .website-footer-wrapper {
          padding: 15.31rem 1.25rem 4.06rem 1.25rem ;
       }
}

//for mobile view
@media (max-width: $sm) {
   
      @include footer-resp;  
 
   }

// for responsiveness between mobile and tablet view
@media (max-width: $med) {
         
  @include footer-resp;

  .website-footer-wrapper > .p-t-176 {
    padding-top: 3.8125rem !important;
}
  }

  @media(min-width: $lg){
    .coming-soon-wrapper{
      padding-left: 6.375rem;

            h1{
              font-size: 3.5rem !important;
            }
     }
    .info-wrapper{
      padding-right: 2.5rem;
    }
    .wf-list-items p.light{
      font-size: 1.125rem;
      margin-top: 1.8rem;
    }
  }