.bg-light {
  background-color: $lightBg !important;
}

.b-primary-light {
  color: $primary;
  background-color: lighten($color: $primary, $amount: 20);
  border: 1px solid $primary;
  &:hover {
    background-color: lighten($primary, 25);
    color: $primary;
  }
}

// notice
.notice-wrapper {
  padding: 2rem;
  p {
    color: $gray;
  }
}
.notice-content-title {
  color: $darkGray;
}
.notice-header {
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .notice-wrapper {
    padding: 4rem;
  }
}
