.website-footer {
  margin-top: 145px;
  position: relative;
}
.website-footer-wrapper {
  padding: 290px $s4 $s4 $s4;
}
.signup-today-wrapper {
  padding: 4rem;
  border-radius: 0.4rem;
  position: absolute;
  min-height: 290px;
  left: 120px;
  right: 120px;
  top: -145px;
}
.wf-list-wrapper p {
  opacity: 0.8;
  line-height: 1.4375rem;
  margin-top: 2.25rem;
  font-size: 1.1rem;
}
.info-wrapper {
  font-size: 0.9375rem;
  line-height: 170%;
}
.signup-btn-wrapper {
  margin: auto;
}
@media (max-width: 768px) {
  .signup-today-wrapper {
    padding: 2rem;
    left: 80px;
    right: 80px;
  }
  .wf-list-wrapper {
    text-align: center;
  }
  .signup-btn-wrapper {
    margin: auto;
  }
}

@media (max-width: $sm + $md) {
  .website-footer-wrapper {
    padding-top: 315px;
  }
}

@media (min-width: $sm) and (max-width: $md) {
  .signup-today-wrapper {
    padding: 2rem;
    left: 35px;
    right: 35px;
  }
  .signup-today-wrapper h1 {
    font-size: 2.3rem !important;
  }
}
@media (max-width: $sm) {
  .website-footer-wrapper {
    padding: 290px 1rem 1rem 1rem;
  }
  .signup-today-wrapper {
    padding: 1rem;
    left: 20px;
    right: 20px;
  }
  .signup-btn-wrapper {
    width: 100%;
  }
  .btn-xs-block {
    width: 100%;
    margin: 0.5rem 0 !important;
  }
}

//Recently Added
.signup-btn-wrapper button {
  display: block;
  margin-bottom: 20px;
  margin-left: 0px !important;
}

@media ( max-width:$md - 1 ) {
  .wf-list-wrapper {
    text-align: start;
  }
}