.bg-light {
  background-color: $lightBg !important;
}

.b-primary-light {
  color: $primary;
  background-color: rgba(83, 76, 234, 0.13);
  &:hover {
    color: $primary;
  }
}

// notice
.notice-wrapper {
  padding: 2rem;
  p {
    color: $gray;
  }
  ul {
    li {
      color: $gray;
    }
  }
}
.notice-content-title {
  color: $darkGray;
}
.notice-header {
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .notice-wrapper {
    padding: 4rem;
  }
}
